<h1>{{title}} / {{original_title}}</h1>
<div class="detail-container">
    <div class="detail-info-container">
        <h3>{{release_date}}</h3>
        <h5>{{director}}</h5>
        <p>{{description}}</p>
        <p>Running time: {{running_time}} minutes</p>
        <p>Rotten Tomatoes score: {{rt_score}}%</p>
        <button id="detail-back-button">背中</button>
    </div>
    <div class="detail-image-container">
        <img src="assets/{{id}}.svg" alt="Image of {{title}} class="detail-screen-image"/>
    </div>
</div>


